<h1 class="text-center text-bolder">WELCOME TO THE BlogME</h1>
<div class="card text-center">
  <div class="container w-75 ">
    <img src="https://media.tenor.com/xzjlrhYq_lQAAAAj/cat-nyan-cat.gif">
    <h3>Are you an enthusiastic blog reader or writer? If your answer is yes, then you are in the right place!</h3>

    <h3>Here are some examples of what you can do with this site:</h3>
    <br>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-100">
          <img src="https://media1.giphy.com/media/DPH2d2WQsvTVEDVa2p/giphy.gif?cid=790b7611272f78264a9042a4c00a4a8056b5b0caa5583dbd&rid=giphy.gif&ct=g" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">See and read all the articles</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d6/Cat_Laptop_-_Idil_Keysan_-_Wikimedia_Giphy_stickers_2019.gif/768px-Cat_Laptop_-_Idil_Keysan_-_Wikimedia_Giphy_stickers_2019.gif" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Add your own articles</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="https://i.giphy.com/media/Kg8pmEGG2Ia2NFVHEV/giphy.gif" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Edit all of your personal data</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>



