<h1 class="text-bold mt-3 mb-3">{{article.title}}</h1>

<div class="card mb-3">
  <img src="{{article.image}}" class="card-img-top" alt="...">
  <div class="card-body text-center">
    <h5 class="card-title text-center">Category: {{category.name}}</h5>
    <p class="card-text text-center">{{article.content}}</p>
    <p class="card-text text-center"><small class="text-muted">Last updated {{article.upload_date |date:'dd/MMM/YYYY'}}</small></p>
    <button *ngIf="user && user.user.id == article.author" routerLink="/edit-article/{{article.slug}}" class="btn btn-warning me-1">EDIT ARTICLE</button>
    <button (click)="deleteArticle(article.slug)" *ngIf="user && user.user.id == article.author" class="btn btn-danger me-1">DELETE ARTICLE</button>
  </div>
</div>
