
<h1 class="text-bold">Welcome {{user.first_name}}!</h1>
<section class="vh-100">
  <div class="container h-75">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-10 mb-4 mb-lg-0">
        <div class="card mb-3" style="border-radius: .5rem;">
          <div class="row g-0">
            <div class="col-md-4 gradient-custom text-center text-white"
              style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
              <img *ngIf="user.profile_picture else emptyPicture" src="{{user.profile_picture}}"
                alt="Avatar" class="img-fluid my-5" style="width: 80px;" />
              <ng-template #emptyPicture>
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                alt="Avatar" class="img-fluid my-5" style="width: 80px;" />
              </ng-template>
              <h5>{{user.first_name}} {{user.last_name}}</h5>
              <p>{{user.username}}</p>
              <i class="far fa-edit mb-5"></i>
            </div>
            <div class="col-md-8">
              <div class="card-body p-4">
                <h6>Profile Details</h6>
                <hr class="mt-0 mb-4">
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h6>Email</h6>
                    <p class="text-muted">{{user.email}}</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Phone</h6>
                    <p class="text-muted">{{user.phone}}</p>
                  </div>
                </div>
                <h6>About</h6>
                <hr class="mt-0 mb-4">
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h6>Registration Date</h6>
                    <p class="text-muted">{{user.registration_date |date: "dd/MMM/YYYY"}}</p>
                  </div>
                  <div class="col-6 mb-1">
                    <h6>Articles</h6>
                    <p class="text-muted">{{numberOfArticles}}</p>
                  </div>
                </div>
                <div class="d-flex justify-content-start">
                  <a routerLink="/edit-profile/{{user.slug}}"><button class="btn btn-warning me-2">Edit Profile</button></a>
                  <a href="#!"><button class="btn btn-danger me-2">Delete Account</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<h1 class="text-bold">{{user.first_name}}'s Articles</h1>
<div class="row row-cols-1 row-cols-md-3 g-4 " style="margin:auto;">
  <div *ngFor="let article of user.articles" class="col">
    <div class="card text-center">
      <img src="{{article.image}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ article.title }}</h5>
        <p class="card-text">{{article.upload_date |date:'dd/MMM/YYYY'}}</p>
        <a routerLink="/article-details/{{article.slug}}"><button class="btn btn-warning">READ</button></a>
      </div>
    </div>
  </div>
</div>

