<section class="vh-50 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 text-center">Registration Form</h3>
            <form [formGroup]="registerForm" (ngSubmit)="registerData(registerForm)" autocomplete="off">

              <div class="row">
                <div class="col-md-6 mb-2">

                  <div class="form-outline">
                    <input type="text" id="firstName" class="form-control form-control-lg" name="first_name" formControlName="first_name" ngDefaultControl/>
                    <label class="form-label" for="firstName" >First Name</label>
                  </div>

                </div>
                <div class="col-md-6 mb-2">

                  <div class="form-outline">
                    <input type="text" id="lastName" class="form-control form-control-lg" name="last_name" formControlName="last_name" ngDefaultControl/>
                    <label class="form-label" for="lastName" >Last Name</label>
                  </div>

                </div>
              </div>

              <div class="row">
                <div class="col-md-12 mb-2 d-flex align-items-center">

                  <div class="form-outline datepicker w-100">
                    <input type="text" class="form-control form-control-lg"  name="username" id="username" formControlName="username" ngDefaultControl/>
                    <label for="birthdayDate" class="form-label"  >Username</label>
                  </div>

                </div>

              </div>
              <div class="row">
                <div class="col-md-12 mb-2 pb-2">

                  <div class="form-outline">
                    <input type="email" id="email" name="email" class="form-control form-control-lg" formControlName="email" ngDefaultControl/>
                    <label class="form-label" for="email"   >Email</label>
                  </div>

                </div>
              </div>

              <div class="row">
                <div class="col-md-12 mb-2 pb-2">

                  <div class="form-outline">
                    <input type="tel" id="phone" name="phone" class="form-control form-control-lg" formControlName="phone" ngDefaultControl/>
                    <label class="form-label" for="phone"   >Phone Number</label>
                  </div>

                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-2 pb-2">

                  <div class="form-outline">
                    <input type="password" id="password" name="password" class="form-control form-control-lg" formControlName="password" ngDefaultControl/>
                    <label class="form-label" for="password"  >Password</label>
                  </div>

                </div>

                <div class="col-md-6 mb-4 pb-2">

                  <div class="form-outline">
                    <input type="password" id="passwordConfirm" name="passwordConfirm"  formControlName="passwordConfirm" ngDefaultControl class="form-control form-control-lg" />
                    <label class="form-label" for="passwordConfirm"   >Confirm Password</label>
                  </div>

                </div>

              </div>

              <div class="row">
                  <div class="col-md-12 mb-2 pb-2 text-center">
                    <!-- Simple link -->
                    <a routerLink="/login">Already have an account? Click to Login</a>
                  </div>

              </div>

              <div class="mt-4 pt-2 text-center">
                <input class=" btn btn-warning btn-lg" type="submit" name="submit" />
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
